<ion-content color="dark" [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/notifications']">
          <ion-icon size="mid" color="tertiary" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/profile']">
          <ion-icon size="mid" color="tertiary" name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>favorite sneakers</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="favorite-content">
    <p>proximamente contenido de favoritos aquí...</p>
  </div>

  
</ion-content>

