<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="account-content">
  <ion-card color="medium" class="account-card">
    <div class="account-header ion-padding">
      @if (!isAuthenticated) {
        <ion-button expand="full" shape="round" color="tertiary" [routerLink]="['/login']">Sign In</ion-button>
        <p class="account-text">
          Don't have an account? <a [routerLink]="['/registro']">Sign up</a>
        </p>
      } @else {
        <div class="welcome-container">
          <p class="welcome-message">Bienvenido de nuevo, {{ userName }}!</p>
        </div>
      }
    </div>
  </ion-card>

  @if (isAuthenticated) {
    <div class="logout-container">
      <ion-button color="danger" (click)="logout()" expand="full">Logout</ion-button>
    </div>
  }

  <ion-footer>
    <ion-toolbar color="dark">
      <div class="social-icons">
        <ion-icon name="logo-facebook" (click)="openFacebook()"></ion-icon>
        <ion-icon name="logo-twitter" (click)="openTwitter()"></ion-icon>
        <ion-icon name="logo-instagram" (click)="openInstagram()"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
