<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/notifications']">
          <ion-icon size="mid" color="tertiary" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/profile']">
          <ion-icon size="mid" color="tertiary" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>KICKSLAB</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <ion-img src="assets/images/driftblack.jpg"></ion-img>
    <ion-img src="assets/images/driftblack.jpg"></ion-img>
    <ion-img src="assets/images/driftblack.jpg"></ion-img>
  </div>
</ion-content>
