/* Contenedor de la tarjeta de registro */
ion-card {
  background-color: #ccdcf577;
  text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 180px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  /* botón de registro */
  .submit-button {
    margin-top: 16px;
    
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
  }
  .icon-login {
    font-size: 20px; 
    color: black; 
    margin-right: 8px; 
    align-self: center; 
  }
  ion-item {
   
    margin-bottom: 5px; 
    border-radius: 12px;
    align-items: center;
  }
  
  
  @media (max-width: 576px) {
    .submit-button {
      font-size: 14px;
    }
  }
  
  @media (min-width: 577px) {
    .submit-button {
      font-size: 16px;
    }
  }
  