<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>SNKRHUB Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sign Up</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
              <ion-item lines="none">
                <ion-icon name="person" slot="end" class="icon-login"></ion-icon>
                <ion-input label="Nombre / Email" label-placement="floating" fill="solid" placeholder="Nombre o email" formControlName="nombre"></ion-input>
              </ion-item>
              
              <ion-item lines="none">
                <ion-icon name="lock-closed" slot="end" class="icon-login"></ion-icon>
                <ion-input label="Password" label-placement="floating" fill="solid" placeholder="Password" formControlName="password" type="password"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="lock-closed" slot="end" class="icon-login"></ion-icon>
                <ion-input label="Confirm Password" label-placement="floating" fill="solid" placeholder="Confirm Password" formControlName="confirmacionPassword" type="password"></ion-input>
              </ion-item>
              <ion-button color="dark" expand="full" type="submit" class="submit-button" [disabled]="cargando">Registrarse</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
</ion-footer>
